[submodule "Tercio1/Parcial-Tercio1-AYPR"]
	path = Tercio1/Parcial-Tercio1-AYPR
	url = https://github.com/JuanGuayazanC/Parcial-Tercio1-AYPR.git
	branch = main
[submodule "Tercio1/Tarea1-AlgoritmosEnSeudolenguaje-AYPR"]
	path = Tercio1/Tarea1-AlgoritmosEnSeudolenguaje-AYPR
	url = https://github.com/JuanGuayazanC/Tarea1-AlgoritmosEnSeudolenguaje-AYPR.git
	branch = main
[submodule "Tercio1/Tarea2-Condicionales-AYPR"]
	path = Tercio1/Tarea2-Condicionales-AYPR
	url = https://github.com/JuanGuayazanC/Tarea2-Condicionales-AYPR.git
	branch = main
[submodule "Tercio1/Tarea3-Subprogramas-AYPR"]
	path = Tercio1/Tarea3-Subprogramas-AYPR
	url = https://github.com/JuanGuayazanC/Tarea3-Subprogramas-AYPR.git
	branch = main
[submodule "Tercio1/Tarea4-CondicionalesYSubprogramas-AYPR"]
	path = Tercio1/Tarea4-CondicionalesYSubprogramas-AYPR
	url = https://github.com/JuanGuayazanC/Tarea4-CondicionalesYSubprogramas-AYPR.git
	branch = main
[submodule "Tercio1/Tarea5-FuncionesRecurrentes-AYPR"]
	path = Tercio1/Tarea5-FuncionesRecurrentes-AYPR
	url = https://github.com/JuanGuayazanC/Tarea5-FuncionesRecurrentes-AYPR.git
	branch = main
[submodule "Tercio1/TrabajosEnClase-Tercio1-AYPR"]
	path = Tercio1/TrabajosEnClase-Tercio1-AYPR
	url = https://github.com/JuanGuayazanC/TrabajosEnClase-Tercio1-AYPR.git
	branch = main
[submodule "Tercio2/Quices-Tercio2-AYPR"]
	path = Tercio2/Quices-Tercio2-AYPR
	url = https://github.com/JuanGuayazanC/Quices-Tercio2-AYPR.git
	branch = main
[submodule "Tercio2/Contest1-Arenas-AYPR"]
	path = Tercio2/Contest1-Arenas-AYPR
	url = https://github.com/JuanGuayazanC/Contest1-Arenas-AYPR.git
	branch = main
[submodule "Tercio2/Tarea6-Ciclos-AYPR"]
	path = Tercio2/Tarea6-Ciclos-AYPR
	url = https://github.com/JuanGuayazanC/Tarea6-Ciclos-AYPR.git
	branch = main
[submodule "Tercio2/Tarea7-Arreglos-AYPR"]
	path = Tercio2/Tarea7-Arreglos-AYPR
	url = https://github.com/JuanGuayazanC/Tarea7-Arreglos-AYPR.git
	branch = main
[submodule "Tercio2/Tarea8-Arreglos-AYPR"]
	path = Tercio2/Tarea8-Arreglos-AYPR
	url = https://github.com/JuanGuayazanC/Tarea8-Arreglos-AYPR.git
	branch = main
[submodule "Tercio2/Tarea9-Secuencias-AYPR"]
	path = Tercio2/Tarea9-Secuencias-AYPR
	url = https://github.com/JuanGuayazanC/Tarea9-Secuencias-AYPR.git
	branch = main
[submodule "Tercio2/TrabajosEnClase-Tercio2-AYPR"]
	path = Tercio2/TrabajosEnClase-Tercio2-AYPR
	url = https://github.com/JuanGuayazanC/TrabajosEnClase-Tercio2-AYPR.git
	branch = main
[submodule "Tercio3/Quices-Tercio3-AYPR"]
	path = Tercio3/Quices-Tercio3-AYPR
	url = https://github.com/JuanGuayazanC/Quices-Tercio3-AYPR.git
	branch = main
[submodule "Tercio3/Taller-OrdenamientosIterativos-AYPR"]
	path = Tercio3/Taller-OrdenamientosIterativos-AYPR
	url = https://github.com/JuanGuayazanC/Taller-OrdenamientosIterativos-AYPR.git
	branch = main
[submodule "Tercio3/TrabajosEnClase-Tercio3-AYPR"]
	path = Tercio3/TrabajosEnClase-Tercio3-AYPR
	url = https://github.com/JuanGuayazanC/TrabajosEnClase-Tercio3-AYPR.git
	branch = main
[submodule "Proyectos/Ahorcadito-AYPR"]
	path = Proyectos/Ahorcadito-AYPR
	url = https://github.com/JuanGuayazanC/Ahorcadito-AYPR.git
	branch = main
[submodule "Proyectos/Juego-de-Trenes-AYPR"]
	path = Proyectos/Juego-de-Trenes-AYPR
	url = https://github.com/JuanGuayazanC/Juego-de-Trenes-AYPR.git
	branch = main
[submodule "Proyectos/Saber-11-2020-AYPR"]
	path = Proyectos/Saber-11-2020-AYPR
	url = https://github.com/JuanGuayazanC/Saber-11-2020-AYPR.git
	branch = main
