[submodule "Quices/Impares-AYPR"]
	path = Quices/Impares-AYPR
	url = https://github.com/JuanGuayazanC/Impares-AYPR.git
	branch = main
[submodule "Quices/Trenes-AYPR"]
	path = Quices/Trenes-AYPR
	url = https://github.com/JuanGuayazanC/Trenes-AYPR.git
	branch = main
[submodule "Quices/Strings-AYPR"]
	path = Quices/Strings-AYPR
	url = https://github.com/JuanGuayazanC/Strings-AYPR.git
	branch = main
[submodule "Quices/Saber11-AYPR"]
	path = Quices/Saber11-AYPR
	url = https://github.com/JuanGuayazanC/Saber11-AYPR.git
	branch = main
[submodule "Talleres/OrdenamientosIterativos-AYPR"]
	path = Talleres/OrdenamientosIterativos-AYPR
	url = https://github.com/JuanGuayazanC/OrdenamientosIterativos-AYPR.git
	branch = main
[submodule "Contest/Arenas-AYPR"]
	path = Contest/Arenas-AYPR
	url = https://github.com/JuanGuayazanC/Arenas-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Dibujo1-AYPR"]
	path = TrabajosEnClase/Dibujo1-AYPR
	url = https://github.com/JuanGuayazanC/Dibujo1-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Poligono-y-Circulo-AYPR"]
	path = TrabajosEnClase/Poligono-y-Circulo-AYPR
	url = https://github.com/JuanGuayazanC/Poligono-y-Circulo-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Cuadricula-y-Llamado-a-Funciones-AYPR"]
	path = TrabajosEnClase/Cuadricula-y-Llamado-a-Funciones-AYPR
	url = https://github.com/JuanGuayazanC/Cuadricula-y-Llamado-a-Funciones-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Valores-en-Orden-Ascendente-AYPR"]
	path = TrabajosEnClase/Valores-en-Orden-Ascendente-AYPR
	url = https://github.com/JuanGuayazanC/Valores-en-Orden-Ascendente-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Recursion-AYPR"]
	path = TrabajosEnClase/Recursion-AYPR
	url = https://github.com/JuanGuayazanC/Recursion-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Area-Circulo-AYPR"]
	path = TrabajosEnClase/Area-Circulo-AYPR
	url = https://github.com/JuanGuayazanC/Area-Circulo-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Iniciando-Python-AYPR"]
	path = TrabajosEnClase/Iniciando-Python-AYPR
	url = https://github.com/JuanGuayazanC/Iniciando-Python-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Ejercicios-Subprogramas-AYPR"]
	path = TrabajosEnClase/Ejercicios-Subprogramas-AYPR
	url = https://github.com/JuanGuayazanC/Ejercicios-Subprogramas-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Rectangulo-AYPR"]
	path = TrabajosEnClase/Rectangulo-AYPR
	url = https://github.com/JuanGuayazanC/Rectangulo-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Estructuras-Condicionales-Repetitivas-AYPR"]
	path = TrabajosEnClase/Estructuras-Condicionales-Repetitivas-AYPR
	url = https://github.com/JuanGuayazanC/Estructuras-Condicionales-Repetitivas-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Maquinita-de-Monedas-AYPR"]
	path = TrabajosEnClase/Maquinita-de-Monedas-AYPR
	url = https://github.com/JuanGuayazanC/Maquinita-de-Monedas-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Matriz-AYPR"]
	path = TrabajosEnClase/Matriz-AYPR
	url = https://github.com/JuanGuayazanC/Matriz-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Taller-Strings-AYPR"]
	path = TrabajosEnClase/Taller-Strings-AYPR
	url = https://github.com/JuanGuayazanC/Taller-Strings-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Arreglos-AYPR"]
	path = TrabajosEnClase/Arreglos-AYPR
	url = https://github.com/JuanGuayazanC/Arreglos-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Arreglos-Pares-AYPR"]
	path = TrabajosEnClase/Arreglos-Pares-AYPR
	url = https://github.com/JuanGuayazanC/Arreglos-Pares-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Distancia-Euclidiana-AYPR"]
	path = TrabajosEnClase/Distancia-Euclidiana-AYPR
	url = https://github.com/JuanGuayazanC/Distancia-Euclidiana-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Binarios-AYPR"]
	path = TrabajosEnClase/Binarios-AYPR
	url = https://github.com/JuanGuayazanC/Binarios-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Numdigitos-AYPR"]
	path = TrabajosEnClase/Numdigitos-AYPR
	url = https://github.com/JuanGuayazanC/Numdigitos-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Taller-Listas-AYPR"]
	path = TrabajosEnClase/Taller-Listas-AYPR
	url = https://github.com/JuanGuayazanC/Taller-Listas-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Escalera-AYPR"]
	path = TrabajosEnClase/Escalera-AYPR
	url = https://github.com/JuanGuayazanC/Escalera-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Algoritmos-de-Busqueda-AYPR"]
	path = TrabajosEnClase/Algoritmos-de-Busqueda-AYPR
	url = https://github.com/JuanGuayazanC/Algoritmos-de-Busqueda-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Merge-Sort-AYPR"]
	path = TrabajosEnClase/Merge-Sort-AYPR
	url = https://github.com/JuanGuayazanC/Merge-Sort-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Datos-AYPR"]
	path = TrabajosEnClase/Datos-AYPR
	url = https://github.com/JuanGuayazanC/Datos-AYPR.git
	branch = main
[submodule "TrabajosEnClase/Repaso-Tercer-Tercio-AYPR"]
	path = TrabajosEnClase/Repaso-Tercer-Tercio-AYPR
	url = https://github.com/JuanGuayazanC/Repaso-Tercer-Tercio-AYPR.git
	branch = main
[submodule "Proyectos/Ahorcadito-AYPR"]
	path = Proyectos/Ahorcadito-AYPR
	url = https://github.com/JuanGuayazanC/Ahorcadito-AYPR.git
	branch = main
[submodule "Proyectos/Juego-de-Trenes-AYPR"]
	path = Proyectos/Juego-de-Trenes-AYPR
	url = https://github.com/JuanGuayazanC/Juego-de-Trenes-AYPR.git
	branch = main
[submodule "Proyectos/Saber-11-2020-AYPR"]
	path = Proyectos/Saber-11-2020-AYPR
	url = https://github.com/JuanGuayazanC/Saber-11-2020-AYPR.git
	branch = main
[submodule "Tareas/AlgoritmosEnSeudolenguaje-AYPR"]
	path = Tareas/AlgoritmosEnSeudolenguaje-AYPR
	url = https://github.com/JuanGuayazanC/AlgoritmosEnSeudolenguaje-AYPR.git
	branch = main
[submodule "Tareas/Condicionales-AYPR"]
	path = Tareas/Condicionales-AYPR
	url = https://github.com/JuanGuayazanC/Condicionales-AYPR.git
	branch = main
[submodule "Tareas/Subprogramas-AYPR"]
	path = Tareas/Subprogramas-AYPR
	url = https://github.com/JuanGuayazanC/Subprogramas-AYPR.git
	branch = main
[submodule "Tareas/CondicionalesYSubprogramas-AYPR"]
	path = Tareas/CondicionalesYSubprogramas-AYPR
	url = https://github.com/JuanGuayazanC/CondicionalesYSubprogramas-AYPR.git
	branch = main
[submodule "Tareas/FuncionesRecurrentes-AYPR"]
	path = Tareas/FuncionesRecurrentes-AYPR
	url = https://github.com/JuanGuayazanC/FuncionesRecurrentes-AYPR.git
	branch = main
[submodule "Tareas/Ciclos-AYPR"]
	path = Tareas/Ciclos-AYPR
	url = https://github.com/JuanGuayazanC/Ciclos-AYPR.git
	branch = main
[submodule "Tareas/Duplicados-y-Factoriales-AYPR"]
	path = Tareas/Duplicados-y-Factoriales-AYPR
	url = https://github.com/JuanGuayazanC/Duplicados-y-Factoriales-AYPR.git
	branch = main
[submodule "Tareas/Diferencias-Interseccion-y-Bolardos-AYPR"]
	path = Tareas/Diferencias-Interseccion-y-Bolardos-AYPR
	url = https://github.com/JuanGuayazanC/Diferencias-Interseccion-y-Bolardos-AYPR.git
	branch = main
[submodule "Tareas/Secuencias-AYPR"]
	path = Tareas/Secuencias-AYPR
	url = https://github.com/JuanGuayazanC/Secuencias-AYPR.git
	branch = main
[submodule "Parciales/Parcial-Primer-Tercio-AYPR"]
	path = Parciales/Parcial-Primer-Tercio-AYPR
	url = https://github.com/JuanGuayazanC/Parcial-Primer-Tercio-AYPR.git
	branch = main
[submodule "Parciales/Parcial-Segundo-Tercio-AYPR"]
	path = Parciales/Parcial-Segundo-Tercio-AYPR
	url = https://github.com/JuanGuayazanC/Parcial-Segundo-Tercio-AYPR.git
	branch = main
[submodule "Parciales/Evaluacion-Final-AYPR"]
	path = Parciales/Evaluacion-Final-AYPR
	url = https://github.com/JuanGuayazanC/Evaluacion-Final-AYPR.git
	branch = main
